/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #404fed;
  color: #f5f5f5;
}

.headings {
  font-family: "Poppins", sans-serif;
}

.nav-discord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

header nav img:first-child {
  width: 150px;
  height: auto;
}

header nav img:last-child {
  width: 50px;
  height: auto;
}
